body {
  font-family: 'Pacifico', cursive;
  font-family: 'Shadows Into Light Two', cursive, sans-serif;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(to top, #dfe2e7, #7b8581);
  }

  h1 {
    font-size: 250%;
  }
  .mainDiv {
    height: 100vh;  
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container {
    width: 300px;
    height: 300px;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    border-radius: 30px; 
    
}
.flip-card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;    
}
.flip-card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 260px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
    
}
.flip-card .flip-card-front {
  background: rgb(250, 248, 109);
  border-radius: 30px;
  position: absolute;
}
.flip-card .flip-card-back {
    background: rgb(17, 89, 233);
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    border-radius: 30px;
    
}
.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.add {
      margin-top: 20px;
      background-color: rgb(15, 150, 240);
      width: 3em;
      height: 3em;
      border-radius: 30%;
      border: none;
      font-weight: bolder;
}

.inputEng,
.inputPl {
  border-radius: 10px; 
  border: 1px solid rgb(243, 241, 241);
  width: 15em;
  height: 3em;
  text-align: center;
}

.speaker-icon {
  position: relative;
  top: 80%;
  left: 45%;  
  font-size: 150%;
  width: 40px;
  height: 40px;
  
}

.hide {
  display: none;
  width: 0;
  height: 0;
}
h1.hide {
  width: 0;
  height: 0;
}
a.close {
  width: 0;
  height: 0;
}

.visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(245, 237, 237, 0.6);
  visibility: visible;
}

.close {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.8;
}
.close:hover {
  opacity: 1;
  transform: scale(1.2);
}
.close:before, .close:after {
  position: absolute;
  left: center;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}