body {
  font-family: 'Shadows Into Light Two', cursive, sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to top, #dfe2e7, #7b8581);
}

h1 {
  font-size: 250%;
  margin: 0;
}

.mainDiv {
  height: 100vh;  
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  .container {
  width: 20rem;
  height: 20rem;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  border-radius: 30px; 
  margin: 1%;
}
.flip-card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;    
}
.flip-card-back,
.flip-card-front {
  height: 100%;
  display: block;
  line-height: 260px;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 2px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);   
}
.flip-card .flip-card-front {
  background: rgb(250, 248, 109);
  border-radius: 30px;
  position: absolute;
}
.flip-card .flip-card-back {
  background: rgb(11, 158, 216);
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  border-radius: 30px;
    
}
.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

#back-card-content,
#front-card-content {
  border-radius: 30%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#buttons-container {
  margin: 1%;
}

.backBtn, .nextBtn {
  border: 1px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  width: auto;
}

.speaker {
  width: auto;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#speaker-img-front,
#speaker-img-back {
  cursor: pointer;
  margin: 4px;
}

.btn-random {
  color: rgb(19, 20, 20);
  font-weight: bold;
  background-color: rgb(11, 158, 216);
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  width: 8vw;
  height: 4vh;
  font-size: 20px;
  background-position: center;
  transition: background 1.5s;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);  
  font-family: 'Shadows Into Light Two', cursive, sans-serif; 
}

.btn-small {
  color: rgb(19, 20, 20);
  font-weight: bold;
  background-color: rgb(11, 158, 216);
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  width: 4vw;
  height: 4vh;
  font-size: 20px;
  background-position: center;
  transition: background 1.5s;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);  
  font-family: 'Shadows Into Light Two', cursive, sans-serif;
}

.add-btn {
  color: rgb(19, 20, 20);
  font-weight: bold;
  background-color: rgb(11, 158, 216);
  border-radius: 4px;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  width: 7vw;
  height: 4vh;
  font-size:20px;
  background-position: center;
  transition: background 1.5s;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);  
  font-family: 'Shadows Into Light Two', cursive, sans-serif; 
}

.add-btn:active {
box-shadow: 0 5px 0 rgb(250, 248, 109);
top: 3px;
}

.inputEng,
.inputPl {
  border-radius: 10px; 
  border: 1px solid rgb(243, 241, 241);
  width: 12vw;
  height: 5vh;
  text-align: center;
  outline: none;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.52);
}

.inputEng:focus,
.inputPl:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, .5);
}

.speaker-icon {
  height: 50%;
  display: block;
 padding: 10px;
}

.hide {
  display: none;
  width: 0;
  height: 0;
}
h1.hide {
  width: 0;
  height: 0;
}
a.close {
  width: 0;
  height: 0;
}

.visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(245, 237, 237, 0.6);
  visibility: visible;
}

.close {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.8;
}
.close:hover {
  opacity: 1;
  transform: scale(1.2);
}
.close:before, .close:after {
  position: absolute;
  left: center;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}